.pageWrapper {
  text-align: center;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.headerWrapper{
}

.searchBarWrapper{
  width: 100%;
  
}

.searchBar{
  width: 80%;
  height: 3ch;
  border-radius: 5px;
  
  border: 1px solid black;
  padding: 0.5ch;
}


.tableWrapper{
  height: 400px; 
  width: 800px;
  margin-top: 10ch;
  align-self: center;
}

.userProfile{
  width: 45px;
  height: 45px;
  border-radius: 99px;
}

@media (max-width: 480px) {
  
  .tableWrapper{
    width: 250px;
  }
}